@page
@model DoAn.Pages.IndexModel

<div class="container p-0">
    <h1 class="pt-1">Website quản lý cửa hàng</h1>
    <a class="btn badge-success btn-lg w-75 py-sm-3 my-1" href="/MHLoaihang/Index">Loại hàng</a> <br />
    <a class="btn badge-success btn-lg w-75 py-sm-3 my-1" href="/MHMathang/Index">Mặt hàng</a> <br />
    <a class="btn badge-primary btn-lg w-75 py-sm-3 my-1" href="/MHNhaphang/Index">Hoá đơn nhập hàng</a><br />
    <a class="btn badge-primary btn-lg w-75 py-sm-3 my-1" href="/MHBanhang/Index">Hoá đơn bán hàng</a><br />
    <a class="btn badge-warning btn-lg w-75 py-sm-3 my-1" href="/MHThongke/MHThongkehang">Thống kê số hàng tồn</a>    
    <a class="btn badge-warning btn-lg w-75 py-sm-3 my-1" href="/MHThongke/MHMathanghethandung">Kiểm tra hàng hết hạn</a>
</div>
